.page.theme_dark {
  --rec-decor-visibility: visible;
  --page-background-image: url("../images/cover-image-dark.png");
  --page-background-color: #000028;
  --text-color: #f1b2ce;
  --secondary-color: #ff0070;
  --secondary-color-transparent: #ff007040;
  --highlight-color: #000028;
  --brand-color: #db00ff;
  --accent-color: #ff0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --rec-decor-visibility: visible;
    --page-background-image: url("../images/cover-image-dark.png");
    --page-background-color: #000028;
    --text-color: #f1b2ce;
    --secondary-color: #ff0070;
    --secondary-color-transparent: #ff007040;
    --highlight-color: #000028;
    --brand-color: #db00ff;
    --accent-color: #ff0070;
  }
}
