.page.theme_light {
  --rec-decor-visibility: hidden;
  --page-background-image: url("../images/cover-image-light.png");
  --page-background-color: #fff1f7;
  --text-color: #353430;
  --secondary-color: #353430;
  --secondary-color-transparent: #35343040;
  --highlight-color: #353430;
  --brand-color: #ffc2e6;
  --accent-color: #ff8dcb;
}

@media (prefers-color-scheme: light) {
  :root {
    --rec-decor-visibility: hidden;
    --page-background-image: url("../images/cover-image-light.png");
    --page-background-color: #fff1f7;
    --text-color: #353430;
    --secondary-color: #353430;
    --secondary-color-transparent: #35343040;
    --highlight-color: #353430;
    --brand-color: #ffc2e6;
    --accent-color: #ff8dcb;
  }
}
