:root {
  --rec-decor-visibility: visible;
  --page-background-image: url("../images/cover-image.png");
  --page-background-color: var(--page-background-color, #000028);
  --text-color: #f1b2ce;
  --secondary-color: #ff0070;
  --secondary-color-transparent: #35343040;
  --highlight-color: #000028;
  --brand-color: #db00ff;
  --accent-color: #ff0070;
}
